.abby-animation {
    position: relative;
    transition: opacity 0.6s ease-in-out;
    opacity: 1;
}

.abby-sleeping {
    opacity: 0.5; 
}


@keyframes abby-animation {
    0% {
        transform: scaleX(1) translateY(10px);
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}