.abby-animation {
    position: relative;
    transition: opacity 0.6s ease-in-out;
    animation: abby-animation 3s ease-in-out infinite alternate-reverse;
}

.abby_online {
    opacity: 1;
}

.abby_offline {
    opacity: 0.5;
}

@keyframes abby-animation {
    0% {
        transform: scaleX(1) translateY(10px);
    }

    100% {
        transform: scaleX(1);
    }
}