/* abby color scheme */
$abby-background: #B45428;
$abby-primary: #3E4D76;
$abby-secondary: #28903E;
$abby-tertiary: #F4D700;
$abby-warning: #703B59;
$abby-navbar: #333333;
$abby-navbar-text: #ffffff;
$abby-navbar-text-secondary: darken(#ffffff, 20%);
$hover-darken-percent: 2%;
$active-darken-percent: 5%;

/* Abby Theme class */
.abby-theme {

  // Background colors
  body { background-color: $abby-background; }
  
  .bg { background-color: $abby-background }
  
  .bg-primary { background-color: $abby-primary }

  .bg-secondary { background-color: $abby-secondary }

  .bg-tertiary { background-color: $abby-tertiary }
 
  .bg-warning { background-color: $abby-warning }
 
  .bg-navbar { background-color: $abby-navbar }

  // Navbar & Header themes
  .nav {
    display: flex;
    user-select: none;
    list-style: none;
    margin: 0;
    padding: 7px 0px;
    gap: 10px;

    .nav-item {
      color: $abby-navbar-text;
    }
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    transition: 0.1s;
    margin: 0px 30px 0px 0px;
  }

  // Buttons themes
  .btn {
    background-color: $abby-background;
    color: white;

    &:hover {
      background-color: darken($abby-background, $hover-darken-percent);
    }

    &:active {
      background-color: darken($abby-background, $active-darken-percent);
    }
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: white;

    &:hover {
      background-color: lighten(#ffffff42, $hover-darken-percent);
    }
  }

  .btn-link-selected {
    background-color: lighten(#ffffff42, $hover-darken-percent);
    color: $abby-tertiary;
    &::before {
      content: "";
      border-radius: 30px;
      height: 100%;
      width: 3px;
      background-color: $abby-tertiary;
      margin-right: 0px;
    }
  }

  .btn-primary {
    background-color: $abby-primary;
    color: white;

    &:hover {
      background-color: darken($abby-primary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($abby-primary, $active-darken-percent);
    }
  }

  .btn-secondary {
    background-color: $abby-secondary;
    color: white;

    &:hover {
      background-color: darken($abby-secondary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($abby-secondary, $active-darken-percent);
    }
  }

  .btn-tertiary {
    background-color: $abby-tertiary;
    color: black;

    &:hover {
      background-color: darken($abby-tertiary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($abby-tertiary, $active-darken-percent);
    }
  }

  .btn-warning {
    background-color: $abby-warning;
    color: white;

    &:hover {
      background-color: darken($abby-warning, $hover-darken-percent);
    }

    &:active {
      background-color: darken($abby-warning, $active-darken-percent);
    }
  }

  .btn-navbar {
    background-color: $abby-navbar;
    color: white;

    &:hover {
      background-color: darken($abby-navbar, $hover-darken-percent);
    }

    &:active {
      background-color: darken($abby-navbar, $active-darken-percent);
    }
  }

  .btn-primary-outline {
    border: 1px solid $abby-primary;
    color: $abby-primary;

    &:hover {
      background-color: lighten($abby-primary, 50%);
    }

    &:active {
      background-color: lighten($abby-primary, 40%);
    }
  }

  .btn-secondary-outline {
    border: 1px solid $abby-secondary;
    color: $abby-secondary;

    &:hover {
      background-color: lighten($abby-secondary, 50%);
    }

    &:active {
      background-color: lighten($abby-secondary, 40%);
    }
  }

  .btn-tertiary-outline {
    border: 1px solid $abby-tertiary;
    color: $abby-tertiary;

    &:hover {
      background-color: lighten($abby-tertiary, 50%);
    }

    &:active {
      background-color: lighten($abby-tertiary, 40%);
    }
  }

  .btn-warning-outline {
    border: 1px solid $abby-warning;
    color: $abby-warning;

    &:hover {
      background-color: lighten($abby-warning, 50%);
    }

    &:active {
      background-color: lighten($abby-warning, 40%);
    }
  }

  .btn-sidebar {
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    border-radius: 0px;
    background-color: $abby-navbar;
    color: $abby-navbar-text;
    border: none;

    &:hover {
      background-color: lighten($abby-navbar, $hover-darken-percent);
      color: $abby-navbar-text;
    }
  }

  .text-tertiary {color:$abby-tertiary}

  .text-primary {color:$abby-primary}

  .text-secondary {color:$abby-secondary}

  .text-warning {color:$abby-warning}

  .text-navbar {color:$abby-navbar}

  .text-navbar-text {color:$abby-navbar-text}

  .select {
    background-color: transparent;
    color: white;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    & > option {
      background-color: white;
      color: black;
    }
  }

  .status-circle-ok {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: green;
  }

  .status-circle-offline {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
  }

  .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid $abby-tertiary;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .spinner-sm {
    width: 20px;
    height: 20px;
    border: 3px solid $abby-tertiary;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}