/* eva01 Color Scheme */
$eva01-background: #1A1B2F;
$eva01-gradient: linear-gradient(180deg, #1A1B2F 0%, #2D2E4F 50%, #43456A 100%);
$eva01-primary: #4F9E4F; 
$eva01-secondary: #763BD6; 
$eva01-tertiary: #2dff5e; 
$eva01-warning: #FF4242; 
$eva01-navbar: #1F1E38;
$eva01-navbar-text: #E5E5E5;
$eva01-navbar-text-secondary: darken(#E5E5E5, 15%);
$hover-darken-percent: 4%;
$active-darken-percent: 5%;

/* eva01 Theme class */
.eva01-theme {

  // Background colors
  body { 
    background: $eva01-gradient, $eva01-background;
    background-size: cover;
  }
  
  .bg { background-color: $eva01-background }
  
  .bg-primary { background-color: $eva01-primary }

  .bg-secondary { background-color: $eva01-secondary }

  .bg-tertiary { background-color: $eva01-tertiary }
 
  .bg-warning { background-color: $eva01-warning }
 
  .bg-navbar { background-color: $eva01-navbar }

  // Navbar & Header themes
  .nav {
    display: flex;
    user-select: none;
    list-style: none;
    margin: 0;
    padding: 7px 0px;
    gap: 10px;

    .nav-item {
      color: $eva01-navbar-text;
    }
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    transition: 0.1s;
    margin: 0px 30px 0px 0px;
  }

  // Buttons themes
  .btn {
    background-color: $eva01-background;
    color: white;

    &:hover {
      background-color: darken($eva01-background, $hover-darken-percent);
    }

    &:active {
      background-color: darken($eva01-background, $active-darken-percent);
    }

    &:disabled {
      cursor: default;
      background-color: darken($eva01-background, $active-darken-percent);
      color: darken(white, $active-darken-percent);
    }
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: white;

    &:hover {
      background-color: lighten(#ffffff42, $hover-darken-percent);
    }
  }

  .btn-link-selected {
    background-color: lighten(#ffffff42, $hover-darken-percent);
    color: $eva01-tertiary;
    &::before {
      content: "";
      border-radius: 30px;
      height: 100%;
      width: 3px;
      background-color: $eva01-tertiary;
      margin-right: 0px;
    }
  }

  .btn-primary {
    background-color: $eva01-primary;
    color: white;

    &:hover {
      background-color: darken($eva01-primary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($eva01-primary, $active-darken-percent);
    }

    &:disabled {
      background-color: darken($eva01-primary, $active-darken-percent);
      color: darken(white, $active-darken-percent);
    }
  }

  .btn-secondary {
    background-color: $eva01-secondary;
    color: white;

    &:hover {
      background-color: darken($eva01-secondary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($eva01-secondary, $active-darken-percent);
    }

    &:disabled {
      cursor: default;
      background-color: darken($eva01-secondary, $active-darken-percent);
      color: darken(white, $active-darken-percent);
    }
  }

  .btn-tertiary {
    background-color: $eva01-tertiary;
    color: black;

    &:hover {
      background-color: darken($eva01-tertiary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($eva01-tertiary, $active-darken-percent);
    }

    &:disabled {
      cursor: default;
      background-color: darken($eva01-tertiary, $active-darken-percent);
      color: darken(black, $active-darken-percent);
    }
  }

  .btn-warning {
    background-color: $eva01-warning;
    color: white;

    &:hover {
      background-color: darken($eva01-warning, $hover-darken-percent);
    }

    &:active {
      background-color: darken($eva01-warning, $active-darken-percent);
    }

    &:disabled {
      cursor: default;
      background-color: darken($eva01-warning, $active-darken-percent);
      color: darken(white, $active-darken-percent);
    }
  }

  .btn-navbar {
    background-color: $eva01-navbar;
    color: white;

    &:hover {
      background-color: darken($eva01-navbar, $hover-darken-percent);
    }

    &:active {
      background-color: darken($eva01-navbar, $active-darken-percent);
    }

    &:disabled {
      cursor: default;
      background-color: darken($eva01-navbar, $active-darken-percent);
      color: darken(white, $active-darken-percent);
    }
  }

  .btn-primary-outline {
    border: 1px solid $eva01-primary;
    color: $eva01-primary;

    &:hover {
      background-color: lighten($eva01-primary, 50%);
    }

    &:active {
      background-color: lighten($eva01-primary, 40%);
    }

    &:disabled {
      cursor: default;
      background-color: lighten($eva01-primary, 40%);
      color: darken($eva01-primary, $active-darken-percent);
      border: 1px solid darken($eva01-primary, $active-darken-percent);
    }
  }

  .btn-secondary-outline {
    border: 1px solid $eva01-secondary;
    color: $eva01-secondary;

    &:hover {
      background-color: lighten($eva01-secondary, 50%);
    }

    &:active {
      background-color: lighten($eva01-secondary, 40%);
    }

    &:disabled {
      cursor: default;
      background-color: lighten($eva01-secondary, 40%);
      color: darken($eva01-secondary, $active-darken-percent);
      border: 1px solid darken($eva01-secondary, $active-darken-percent);
    }
  }

  .btn-tertiary-outline {
    border: 1px solid $eva01-tertiary;
    color: $eva01-tertiary;

    &:hover {
      background-color: lighten($eva01-tertiary, 50%);
    }

    &:active {
      background-color: lighten($eva01-tertiary, 40%);
    }

    &:disabled {
      cursor: default;
      background-color: lighten($eva01-tertiary, 40%);
      color: darken($eva01-tertiary, $active-darken-percent);
      border: 1px solid darken($eva01-tertiary, $active-darken-percent);
    }
  }

  .btn-warning-outline {
    border: 1px solid $eva01-warning;
    color: $eva01-warning;

    &:hover {
      background-color: lighten($eva01-warning, 50%);
    }

    &:active {
      background-color: lighten($eva01-warning, 40%);
    }

    &:disabled {
      cursor: default;
      background-color: lighten($eva01-warning, 40%);
      color: darken($eva01-warning, $active-darken-percent);
      border: 1px solid darken($eva01-warning, $active-darken-percent);
    }
  }

  .btn-sidebar {
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    border-radius: 0px;
    background-color: $eva01-navbar;
    color: $eva01-navbar-text;
    border: none;

    &:hover {
      cursor: default;
      background-color: lighten($eva01-navbar, $hover-darken-percent);
      color: $eva01-navbar-text;
    }
  }

  .text-tertiary {color:$eva01-tertiary}

  .text-primary {color:$eva01-primary}

  .text-secondary {color:$eva01-secondary}

  .text-warning {color:$eva01-warning}

  .text-navbar {color:$eva01-navbar}

  .text-navbar-text {color:$eva01-navbar-text}

    // a color in theme
    a {
      text-decoration: none;
      color:$eva01-secondary;
    }

  .select {
    background-color: transparent;
    color: white;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    & > option {
      background-color: white;
      color: black;
    }
  }

  .status-circle-ok {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: green;
  }

  .status-circle-offline {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
  }

  .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid $eva01-tertiary;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .spinner-sm {
    width: 20px;
    height: 20px;
    border: 3px solid $eva01-tertiary;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}