@import "@fontsource/roboto";
@import "@fontsource/roboto-condensed";

/* Global and variable settings */
:root {
    font-family: "Roboto";
    --abby-background: #B45428;
    --abby-primary: #3E4D76;
    --abby-secondary: #28903E;
    --abby-tertiary: #F4D700;
    --abby-warning: #703B59 
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

/* Abby Theme */
.abby-theme .bg {
  background-color: var(--abby-background);
}
.abby-theme .primary {

}
.abby-theme .text-primary {

}