@import "@fontsource/roboto";
@import "@fontsource/roboto-condensed";
@import "@fontsource/roboto-mono";
@import "./utilities.scss";

/* Global and variable settings */
:root { font-family: "Roboto"; }
body { margin: 0; overflow: hidden; }
hr { margin: 5px 0px;  }
h1 { font-size: 20px; }
fieldset { border: 0; padding: 5px; margin: 0;}
/* General elements styles */
button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  text-align: start;
  font-family: "Roboto";
  text-wrap: wrap;
  // font-weight: 600;
  overflow: hidden;
  transition: 0.1s;
  &:active { transform: scale(0.98) }
  &:disabled { 
    user-select: none;
    pointer-events: none;
    &:active { transform: scale(0.98) }
  }
}

button:hover { cursor: pointer }

/* Themes */
@import "./themes/abby-theme.scss";
@import "./themes/d0z3r-theme.scss";
@import "./themes/masky-theme.scss";
@import "./themes/nebulanight-theme.scss";
@import "./themes/mia-theme.scss";
@import "./themes/python-theme.scss";
@import "./themes/node-theme.scss";