@import "@fontsource/roboto";
@import "@fontsource/roboto-condensed";
@import "@fontsource/roboto-mono";
@import "./utilities.scss";

/* Global and variable settings */
:root { font-family: "Roboto"; }
body { margin: 0; overflow: hidden; }
hr { 
  margin: 10px 0px;  
  border: 0;
  &:after { 
    content: ""; 
    width: 100%;
    height: 1px;
    display: block;
    background-color: #686868;
  }
}
fieldset { border: 0; padding: 5px; margin: 0;}
/* General elements styles */
button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  text-align: start;
  font-family: "Roboto";
  text-wrap: wrap;
  overflow: hidden;
  font-size: 14px;
  transition: 0.1s;
  &:active { transform: scale(0.98) }
  &:disabled { 
    user-select: none;
    pointer-events: none;
    &:active { transform: scale(0.98) }
  }
}

button:hover { cursor: pointer }

/* Themes */
@import "./themes/abby-theme.scss";
@import "./themes/d0z3r-theme.scss";
@import "./themes/masky-theme.scss";
@import "./themes/nebulanight-theme.scss";
@import "./themes/mia-theme.scss";
@import "./themes/python-theme.scss";
@import "./themes/node-theme.scss";
@import "./themes/eva01-theme.scss";