@import "@fontsource/roboto";
@import "@fontsource/roboto-condensed";
@import "@fontsource/roboto-mono";
@import "./utilities.scss";

/* Global and variable settings */
:root { font-family: "Roboto"; }
body { margin: 0;  transition: 0.3s; overflow: hidden; }
hr { margin: 5px 0px;  }

/* General elements styles */
h1 { font-size: 40px; }
p { font-size: 20px }
button {
  border: 0;
  border-radius: 10px;
  padding: 15px;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 16px;
  transition: 0.1s;
  &:active { transform: scale(0.95) }
}
a {
  text-decoration: none;
}
button:hover { cursor: pointer }

/* Themes */
@import "./themes/abby-theme.scss";
@import "./themes/D0Z3R-theme.scss";
@import "./themes/node-theme.scss";
@import "./themes/python-theme.scss";
@import "./themes/template-theme.scss";