// Text styles
.text-light {
    color: #fff
}

.text-dark {
    color: #000
}
.bg-white { background-color: white }
.bg-black { background-color: black }
.text-secondary {
    color: darken(#fff, 30%) !important
}

.text-italic {
    font-style: italic
}

.text-condensed {
    font-family: "Roboto Condensed"
}

.text-mono {
    font-family: "Roboto Mono"
}

.text-italic {
    font-style: italic
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.text-end {
    text-align: end
}




// Flex utilities
.d-flex {
    display: flex
}

.flex-column {
    flex-direction: column
}

.flex-row {
    flex-direction: row
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.flex-start {
    justify-content: flex-start
}

.flex-end {
    justify-content: flex-end
}

.flex-center {
    justify-content: center
}

.flex-between {
    justify-content: space-between
}

.flex-around {
    justify-content: space-around
}

.flex-evenly {
    justify-content: space-evenly
}

.flex-start-items {
    align-items: flex-start
}

.flex-end-items {
    align-items: flex-end
}

.flex-center-items {
    align-items: center
}

.flex-grow-1 {
    flex-grow: 1
}

.flex-shrink {
    flex-shrink: 1
}

.flex-basis {
    flex-basis: 1
}

// Gap utilities
.gap-1 {
    gap: 4px
}

.gap-2 {
    gap: 8px
}

.gap-3 {
    gap: 12px
}

.gap-4 {
    gap: 16px
}


// Margin utilities
.m-0 {
    margin: 0
}

.m-1 {
    margin: 4px
}

.m-2 {
    margin: 8px
}

.m-3 {
    margin: 12px
}

.m-4 {
    margin: 16px
}

.ml-0 {
    margin-left: 0
}

.ml-1 {
    margin-left: 4px
}

.ml-2 {
    margin-left: 8px
}

.ml-3 {
    margin-left: 12px
}

.ml-4 {
    margin-left: 16px
}

.mr-0 {
    margin-right: 0
}

.mr-1 {
    margin-right: 4px
}

.mr-2 {
    margin-right: 8px
}

.mr-3 {
    margin-right: 12px
}

.mr-4 {
    margin-right: 16px
}

.mb-0 {
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: 4px
}

.mb-2 {
    margin-bottom: 8px
}

.mb-3 {
    margin-bottom: 12px
}

.mb-4 {
    margin-bottom: 16px
}

.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: 4px
}

.mt-2 {
    margin-top: 8px
}

.mt-3 {
    margin-top: 12px
}

.mt-4 {
    margin-top: 16px
}

// Padding utilities
.p-0 {
    padding: 0
}

.p-1 {
    padding: 4px
}

.p-2 {
    padding: 8px
}

.p-3 {
    padding: 12px
}

.p-4 {
    padding: 16px
}

.pt-0 {
    padding-top: 0
}

.pt-1 {
    padding-top: 4px
}

.pt-2 {
    padding-top: 8px
}

.pt-3 {
    padding-top: 12px
}

.pt-4 {
    padding-top: 16px
}

.pb-0 {
    padding-bottom: 0
}

.pb-1 {
    padding-bottom: 4px
}

.pb-2 {
    padding-bottom: 8px
}

.pb-3 {
    padding-bottom: 12px
}

.pb-4 {
    padding-bottom: 16px
}

.pl-0 {
    padding-left: 0
}

.pl-1 {
    padding-left: 4px
}

.pl-2 {
    padding-left: 8px
}

.pl-3 {
    padding-left: 12px
}

.pl-4 {
    padding-left: 16px
}

.pr-0 {
    padding-right: 0
}

.pr-1 {
    padding-right: 4px
}

.pr-2 {
    padding-right: 8px
}

.pr-3 {
    padding-right: 12px
}

.pr-4 {
    padding-right: 16px
}

// Grid utilities
.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr)
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr)
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr)
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr)
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr)
}

.grid-7 {
    grid-template-columns: repeat(7, 1fr)
}

.grid-8 {
    grid-template-columns: repeat(8, 1fr)
}

.grid-9 {
    grid-template-columns: repeat(9, 1fr)
}

.grid-10 {
    grid-template-columns: repeat(10, 1fr)
}

.grid-11 {
    grid-template-columns: repeat(11, 1fr)
}

.grid-12 {
    grid-template-columns: repeat(12, 1fr)
}

.column-1 {
    grid-column: span 1
}

.column-2 {
    grid-column: span 2
}

.column-3 {
    grid-column: span 3
}

.column-4 {
    grid-column: span 4
}

.column-5 {
    grid-column: span 5
}

.column-6 {
    grid-column: span 6
}

.column-7 {
    grid-column: span 7
}

.column-8 {
    grid-column: span 8
}

.column-9 {
    grid-column: span 9
}

.column-10 {
    grid-column: span 10
}

.column-11 {
    grid-column: span 11
}

.column-12 {
    grid-column: 1/-1
}

.column-offset-1 {
    grid-column: 2/-1
}

.column-offset-1 {
    grid-column: 2/-1
}

.column-offset-2 {
    grid-column: 3/-1
}

.column-offset-3 {
    grid-column: 4/-1
}

.column-offset-4 {
    grid-column: 5/-1
}

.column-offset-5 {
    grid-column: 6/-1
}

.column-offset-6 {
    grid-column: 7/-1
}

.column-offset-7 {
    grid-column: 8/-1
}

.column-offset-8 {
    grid-column: 9/-1
}

.column-offset-9 {
    grid-column: 10/-1
}

.column-offset-10 {
    grid-column: 11/-1
}

.column-offset-11 {
    grid-column: 12/-1
}

// Font sizes
.fs-1 {
    font-size: 12px;
}

.fs-2 {
    font-size: 16px;
}

.fs-3 {
    font-size: 18px;
}

.fs-4 {
    font-size: 20px;
}

// Misc
.rounded {
    border-radius: 10px
}

.circled {
    border-radius: 50%
}

.vh100 {
    height: 100vh
}

.vw100 {
    max-width: 100vw
}

.h100 {
    height: 100%
}

.w100 {
    width: 100%
}

.container-sm {
    margin: 0 5%;
}

.list-unstyled {
    list-style-type: none;
}

.no-select {
    user-select: none;
}

.separator {
    background-color: #ffffff;
    height: 1px;
    max-width: 100%;
    margin: 10px 0;
}

// Dropdown classes
.dropdown {
    position: relative;
}

.dropdown-body {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-show {
    display: flex;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-align: start;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    border-radius: 3px;

    &:hover {
        background-color: darken(white, 10%);
    }
}

.modal-backdrop {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.272);
}
.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-wrap: wrap;
    gap: 10px;
    padding: 7px;
    background-color: white;
    min-width: 300px;
    max-width: 700px;
    max-height: 500px;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 100%;
}
.modal-header {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    width: calc(100% - 16px);
    justify-content: space-between;
}
.modal-content {
    display: flex;
    flex-direction: column;
    padding: 7px;
    width: calc(100% - 16px);
    overflow: auto;
}
.modal-close-button {
    cursor: pointer;
    padding: 0;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: #b8b7b7;
}
.modal-show {
    display: flex;
}
.content {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
}

@media (width < 576px) {
    .container {
        max-width: 100%;
    }
}

@media (width >=576px) {
    .container {
        max-width: 540px;
    }
}

@media (width >=768px) {
    .container {
        max-width: 720px;
    }
}

@media (width >=992px) {
    .container {
        max-width: 960px;
    }
}

@media (width >=1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (width >=1400px) {
    .container {
        max-width: 1320px;
    }
}

@keyframes abby-animation {
    0% {
        transform: scaleX(-1) translateY(10px);
    }

    100% {
        opacity: 1;
        transform: scaleX(-1);
    }
}

@keyframes PopUpAnimation {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes PopOutAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.abby-animation {
    animation: abby-animation 3s ease-in-out infinite alternate-reverse;
}

.pop-in {
    animation: PopUpAnimation 0.1s ease-in-out;
}

.pop-out {
    animation: PopOutAnimation 0.1s ease-in-out forwards;
}

.collapsed {
    width: 50px;
    transition: 0.3s;
}

.overflow-hidden { overflow: hidden; }
.no-wrap {text-wrap: nowrap;}
.border-top { border-top: 1px solid #636363; }