// Text styles
.text-light {
    color: white;
}
.text-dark {
    color: black;
}
.text-italic {
    font-style: italic;
}
.text-condensed {
    font-family: "Roboto Condensed";
}
.text-mono {
    font-family: "Roboto Mono";
}
.container {
    margin: 0% 1%;
}
.container-md {
    margin: 0% 5%; 
}

.mt-4 {
    margin-top: 60px;
}
